/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 28, 2015, 11:27:21 AM
    Author     : Misael
*/

.ui-datatable .ui-row-editor .ui-icon-pencil{
    
    //background-image: url("#{resource['icons/pencil.png']}");
    height: 15px;
    width: 15px;
}
/*
.ui-datatable .ui-row-editor ui.icon-check{
    background-image: url("#['']");
}
.ui-datatable .ui-row-editor ui.icon-close{
    background-image: url("#['']");
}*/